

.page1 {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content{
  font-family: Impact;
  font-size: 60px;
  letter-spacing: 11px;
  word-spacing: 5px;
  color: #efeceb;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 1);
  text-align: center; /* additional property to center text horizontally */
  animation: welcome 2s ease-in 0s 1 normal none;
  animation-fill-mode: backward; /* add this property */
  
}

  
  @keyframes welcome {
    0% {
      opacity: 0;
      transform: rotateY(70deg);
      transform-origin: right;
    }
  
    100% {
      opacity: 1;
      transform: rotateY(0);
      transform-origin: right;
    }
  }
 
  .page2 {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
  

.profile-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profile-breakfast {
  margin: 20px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #ec2626;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-breakfast:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-breakfast img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.profile-breakfast h2 {
  font-size: 18px;
  margin-top: 10px;
}

.profile-breakfast p {
  font-size: 14px;
  color: #666;
}

.profile-lunch {
  margin: 20px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #ec2626;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-lunch:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-lunch img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.profile-lunch h2 {
  font-size: 18px;
  margin-top: 10px;
}

.profile-lunch p {
  font-size: 14px;
  color: #666;
}
.profile-dinner {
  margin: 20px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #ec2626;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-dinner:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-dinner img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.profile-dinner h2 {
  font-size: 18px;
  margin-top: 10px;
}

.profile-dinner p {
  font-size: 14px;
  color: #666;
}

.profile-dessert {
  margin: 20px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #ec2626;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-dessert:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-dessert img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.profile-dessert h2 {
  font-size: 18px;
  margin-top: 10px;
}

.profile-dessert p {
  font-size: 14px;
  color: #666;
}
.profile-beverage {
  margin: 20px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #ec2626;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-beverage:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-beverage img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.profile-beverage h2 {
  font-size: 18px;
  margin-top: 10px;
}

.profile-beverage p {
  font-size: 14px;
  color: #666;
}


